{% extends 'base.html.twig' %}

{% block title 'Page annonce'%}
{% block body %}

<div class="container w-50">
  <div class="card shadow-1 fx-row w-80">
  <div class="d-flex vcenter fx-center p-4">
   <img data-ax="lightbox" id="lightbox2" class="lightbox responsive-media" style="width:574px; height:765px;" src="{{ (annonce.imageName ? vich_uploader_asset(annonce) : asset('uploads/placeholder.jpg')) }}" alt="picsum2" />
  </div>
  <div class="d-flex fx-col fx-grow">
    <div class="card-header" style="text-align:center;">{{ annonce.title }}</div>
    <div class="card-content">
      <p style="text-align:end;">
      Description : 
        {{annonce.content}}
      </p>
      <p style="text-align:end;"> Contacter le vendeur : 
        {{ annonce.users.email}}
      </p>
    </div>
  </div>
</div>
</div>

{% endblock %}