@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Josefin+Sans&display=swap');

body {
    font-family: 'Cardo', serif;
}
h1 {
    font-family: 'Josefin Sans', sans-serif;
}

#example-lightbox2 {
    width: 1200px;
    margin-left: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
}
body > nav > div {
    color: #2E3192;
}
footer {
    color: #fff;
    background-color: #2E3192;
}
body > main > div > h1 {
    font-size: 40px;
    text-align: center;
    padding-top: 100px;
    color: black;
}
body > main > div > div > div  {
    padding-bottom: 50px;
}
body > main > div  {
    padding-bottom: 100px;
}
body > main > div > div {
    padding-bottom:20px ;
}
body > main > h1 {
    text-align: center;
}
#buttonVoir {
    background-color: #2E3192;
    color: #fff;
}