{% extends 'users.html.twig' %}

{% block title %}Modifier l'annonce{% endblock %}

{% block body %}
<div class="container">
    <h1> Modifier l'annonce</h1>

    {{ form_start(form) }}
   {{ form_widget(form) }}
   <button class="btn btn-primary">Valider</button>
   {{ form_end(form) }}
</div>
{% endblock %}
